[submodule "external/asio"]
	path = external/asio
	url = https://github.com/pmwpolarimetri/asio.git
[submodule "external/libnpy"]
	path = external/libnpy
	url = https://github.com/pmwpolarimetri/libnpy.git
